{% style %}
  .nws-video-banner-inner {
    width: 100%;
    padding: 170px 85px;
    height: calc(100vh - 125px);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.nws-video-banner-inner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    left: 0;
    background-color: rgba(0, 0, 0, 1) !important;
    opacity: 0.26 !important;
}
.nws-video-iframe {
    position: absolute;
    text-align: center;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    display: block;
}
.nws-iframe {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform: scale(1);
}
.nws-custom-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: block;
    position: relative;
    z-index: 1;
}
.nws-pre-heading {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: normal;
    position: relative;
}
.nws-video-content {
    width: 100%;
    max-width: 600px;
}
.nws-hero-heading {
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 1.3;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 0;
    text-transform: uppercase;
    display: block;
}
.nws-btn-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.nws-btn {
    font-size: 18px;
    font-family: Coldiac Free;
    width: 100%;
    max-width: 250px;
    height: 50px;
    background-color: #e5e1dc;
    padding: 0 13px;
    line-height: normal;
    border: 1px solid rgba(229,225,220,1);
    color: #1a1b1f;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}
.nws-btn:first-child:hover {
    background: transparent;
    color: #fff;
}
.nws-btn:last-child{
    background-color: transparent;
    color: #fff;
}
.nws-btn:last-child:hover {
    background-color: #e5e1dc;
    color: #1a1b1f !important;
    border-color: #e5e1dc;
}
{% endstyle %}
<div class="nws-video-banner">
  <div class="nws-video-banner-inner">
    <div class="nws-video-iframe">
      {%- if section.settings.video_url.type == 'youtube' -%}
        <iframe
          src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?autoplay=1&loop=1&muted=1&controls=0"
          class="nws-iframe"
          allow="autoplay; encrypted-media"
          allowfullscreen
          title="{{ section.settings.description | escape }}"
        ></iframe>
      {%- else -%}
        <iframe
          src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=1&loop=1&muted=1&controls=0"
          class="nws-iframe"
          allow="autoplay; encrypted-media"
          allowfullscreen
          title="{{ section.settings.description | escape }}"
        ></iframe>
      {%- endif -%}
    </div>
    <div class="nws-custom-container">
      <div class="nws-video-content">
        {% if section.settings.pre_heading != blank %}
          <span class="nws-pre-heading">{{ section.settings.pre_heading }}</span>
        {% endif %}
        {% if section.settings.hero_heading != blank %}
          <h2 class="nws-hero-heading">{{ section.settings.hero_heading }}</h2>
        {% endif %}
        <div class="nws-btn-wrapper">
          <a href="{{ section.settings.btn_url_1 }}" class="nws-btn">{{ section.settings.btn_lbl_1 }}</a>
          <a href="{{ section.settings.btn_url_2 }}" class="nws-btn">{{ section.settings.btn_lbl_2 }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Nws Video Banner",
  "settings": [
    {
      "type": "text",
      "id": "section-extra-class",
      "info": "Add section class (without.). Use spaces to add multiple classes",
      "label": "Section Class"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "label": "Paste Video Url"
    },
    {
      "type": "text",
      "id": "pre_heading",
      "label": "Pre Heading"
    },
    {
      "type": "text",
      "id": "hero_heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "btn_lbl_1",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_url_1",
      "label": "Paste Url"
    },
    {
      "type": "text",
      "id": "btn_lbl_2",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_url_2",
      "label": "Paste Url"
    }
  ],
  "presets": [
    {
      "name": "Nws Video Banner",
      "category": "Nws Custom Section"
    }
  ]
}
{% endschema %}
